h4 a {
   color: white;
   float: right;
   margin-right: 15px; 
}

table, th, td {
   border: 3px solid #248F24;
   border-collapse: collapse;
}

#comments {
   width: 1250px;
   border-radius: 25px 26px;
}

#fav {
   width: 100px;
   border-radius: 25px 26px;
}

tbody tr{
   height: 100;
   background-color:white;
   text-align: center;
}

thead tr {
   background-color:white;
}

.header {
   text-align:right;
   margin: auto 5px;
   color:#248F24;
   font-family: "Ariel Black", Gadget, sans-seriff;
   height: 25px;
}

.overlay {
   border: 3px solid;
   border-color:#248F24;
   background-color:white;
   margin-left: 10px;
   margin-right: 10px;
   margin-top:10px;
   padding-bottom: 50px;
   backgroundsize: cover;
   border-radius: 25px 26px;
}

body {
   background: url(../images/test3.jpg);
   background-size:cover;
   background-repeat:repeat;
}

.user_image {
   margin-top: 30px;
   margin-left:40px;
   height:200px;
   width:200px;
   position:absolute;
   border:2px solid;
   border-color:black;
}

.user_details {
   text-align:left;
   margin-top:20px;
   position:absolute;
   margin-left:300px;
   color:#248F24; 
}

.user_favorites {
   text-align:left;
   margin-right:5px;
   margin-top:20px;
   margin-left:700px;
   position:absolute;
   color:#F54D70
}

.reviews {
   margin-left:40px;
   color:#00688B;
   margin-top:300px;
}
