
body {
   	background: url(../images/test3.jpg);
   	font-family: sans-serif;
	background-size: cover;
        background-repeat: repeat;
}


h1 {
   margin: 0 0 0 0;
        color: #248F24;

}

h2 {
   text-align: center;
        color: #248F24;

}

h3 {
   text-align: left;
	color: white;
}

b {
	color: white;
}

textarea {
   height: 75px;
   width: 475px;
}

p {
   text-align: center;
   color: #A2BC13;
}
a:link {
   color:#3A3A38;
}
a:hover {
   color:#A2BC13;
}

a:active {
   color:#A2BC13;
}

ul {
   padding: 0 0 0 0;
}

select {
   width: 90px;
}


button:hover {
   background-color:#A2BC13; 
}

.container {
   position: relative;
   height: 90%;
   margin-left: 75px;
   margin-top: 50px;
}

.restaurant_holder {
   position: relative;
   padding: 2px;
   overflow: hidden;
   border: 3px solid #73AD21;
   background-color: white;
   border-color: #248f24;
   border-radius: 25px;
   height: 100%;
   width: 700px;
}

.details {
   position: absolute;
   max-height: inherit;
   display:inline-block;
   width: 400px;
   margin-left: 300px;
   height: 75px;
}

.restaurant_image {
   position: absolute;
   height: inherit;
   width: 300px;
}

.ratings {
   position: absolute;
   text-align: center;
    max-height: inherit;
    width: 400px;
    margin-left: 300px;
    margin-top: 75px;
    height: 75px;
}

.info_page_container {
   position: relative;
   max-height: inherit;
   margin-top: 30px;
   margin-left: 30px;
}

.bigImage {
   position: absolute;
   float:left;
   height:350px;
   width: 600px
}

.info_box {
   position: absolute;
    width: 350px;
    margin-left: 620px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #248F24;
	background-color: white;
}

.rating_box {
   position: absolute;
    margin-left: 1000;
    margin-top: 10px;
	background-color:white;
	border-color: #248F24;
}

.reviews {
   position: absolute;
    margin-top: 400px;
    width: 1000px;
}

.user_image {
   position: absolute;
   height: inherit;
   width: 200px;
}

#submit {
   width: 800px;
   height: 150px;
}

.left{
   float: left;
}
.select{
   padding-top: 60px;
   float: right;
   margin-right: 190px;
}

.submit_button {
   position: fixed;
   margin-top: 75px;
   margin-left: 625px;
}

#comments {
  width: 100%;
}


#prevComment {
  float: left;
  margin-left: 100px;
}

#nextComment {
  float: right;
  margin-right: 100px;
}

#fav_button {
  margin-left: 10px;
}
